{% extends "intern/base_site.html" %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="http://s.hdimg.net/jquery/themes/default/default.css" />
<style type="text/css">
body {
    background-color: #ffffff;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; 
    color: #333333;
	font-size:12 px;
    text-align:left;
}

DIV.tagMatches {
    margin-left: 10px;
    width: 200px;
}
DIV.tagMatches SPAN {
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: pointer;
}
</style>
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">Homepage</a>
&rsaquo; <a href="/i/">HUDORA Bilderarchiv</a>
&rsaquo; {{ title }}</div>{% endblock %}
  {% block content %}
    <form enctype="multipart/form-data" method="post" action=".">
        <table>
        {{ form.as_table }}
        </table>
	<input type="submit" value="Upload"/>
    </form>
{% endblock content %}
